{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
    <h1>liste des entreprise </h1>

    <a class="btn btn-primary" href="{{ path('add_entreprise') }}">ajouter une entreprise</a> <br>

    {% for entreprise in entreprises %}
            
        {# pass an id  #}
        <a href="{{ path('show_entreprise', {'id': entreprise.id}) }}">{{ entreprise }} </a>
        
        <a class="btn btn-warning" href="{{ path('edit_entreprise', {'id': entreprise.id}) }}"> edit </a>

        <a class="btn btn-danger" href="{{ path('delete_entreprise', {'id': entreprise.id}) }}"> delete </a><br> 
        
    {% endfor %}
{% endblock %}
