{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
    <h1>liste des employer </h1>

    <a class="btn btn-primary" href="{{ path('add_employe') }}">ajouter un employe</a> <br>


    {% for employe in employes %}

        <a href="{{ path('show_employe', {'id': employe.id}) }}">{{ employe }}</a><br>
        <a class="btn btn-warning" href="{{ path('edit_employe', {'id': employe.id}) }}">edit</a>

        <a class="btn btn-danger" href="{{ path('delete_employe', {'id': employe.id}) }}">delete</a><br>

    {% endfor %}
{% endblock %}
